.root {
    -fx-background-color: #333333;
}
#knob-control {
    -fx-fill: #999999;
}
#knob-control-notch {
    -fx-fill: #666666;
}
#value-label {
    -fx-text-fill: #cccccc;
    -fx-font-size: 50px;
    -fx-font-weight: lighter;
    -fx-text-alignment: center;
}
.chart-series-line {
    -fx-stroke-width: 1px;
}
/*#line-chart .chart-series-line {*/
/*    -fx-stroke-width: 1px;*/
/*    -fx-fill-width: 1px;*/
/*    -fx-fill: #333333;*/
/*}*/